In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# file paths and merge
df = pd.read_csv('NetflixData/NetflixData.csv')
df_1=pd.read_csv('HBOData/HBOData.csv')
df_2=pd.read_csv('AmazonPrimeData/APData.csv')

merged_df=pd.concat([df, df_1, df_2], ignore_index=True)


merged_df.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,Platform
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.601,NaN,Netflix
1,tm82169,Rocky,MOVIE,"When world heavyweight boxing champion, Apollo...",1976,PG,119,"['drama', 'sport']",['US'],NaN,tt0075148,8.1,588100.0,106.361,7.782,Netflix
2,tm17823,Grease,MOVIE,Australian good girl Sandy and greaser Danny f...,1978,PG,110,"['romance', 'comedy']",['US'],NaN,tt0077631,7.2,283316.0,33.160,7.406,Netflix
3,tm191099,The Sting,MOVIE,A novice con man teams up with an acknowledged...,1973,PG,129,"['crime', 'drama', 'comedy', 'music']",['US'],NaN,tt0070735,8.3,266738.0,24.616,8.020,Netflix
4,tm69975,Rocky II,MOVIE,After Rocky goes the distance with champ Apoll...,1979,PG,119,"['drama', 'sport']",['US'],NaN,tt0079817,7.3,216307.0,75.699,7.246,Netflix

In [2]:
new_column_names = {'Age Certification': 'Rating',
                   }
merged_df.columns = merged_df.columns.str.title().str.replace('_', ' ')

merged_df.rename(columns=new_column_names, inplace=True)

merged_df.head()

,Id,Title,Type,Description,Release Year,Rating,Runtime,Genres,Production Countries,Seasons,Imdb Id,Imdb Score,Imdb Votes,Tmdb Popularity,Tmdb Score,Platform
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.601,NaN,Netflix
1,tm82169,Rocky,MOVIE,"When world heavyweight boxing champion, Apollo...",1976,PG,119,"['drama', 'sport']",['US'],NaN,tt0075148,8.1,588100.0,106.361,7.782,Netflix
2,tm17823,Grease,MOVIE,Australian good girl Sandy and greaser Danny f...,1978,PG,110,"['romance', 'comedy']",['US'],NaN,tt0077631,7.2,283316.0,33.160,7.406,Netflix
3,tm191099,The Sting,MOVIE,A novice con man teams up with an acknowledged...,1973,PG,129,"['crime', 'drama', 'comedy', 'music']",['US'],NaN,tt0070735,8.3,266738.0,24.616,8.020,Netflix
4,tm69975,Rocky II,MOVIE,After Rocky goes the distance with champ Apoll...,1979,PG,119,"['drama', 'sport']",['US'],NaN,tt0079817,7.3,216307.0,75.699,7.246,Netflix

In [3]:
columns_deleted = ['Id', 'Imdb Votes', 'Imdb Id', 'Tmdb Popularity']

merged_df.drop(columns = columns_deleted, inplace= True)

merged_df.head()

,Title,Type,Description,Release Year,Rating,Runtime,Genres,Production Countries,Seasons,Imdb Score,Tmdb Score,Platform
0,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,Netflix
1,Rocky,MOVIE,"When world heavyweight boxing champion, Apollo...",1976,PG,119,"['drama', 'sport']",['US'],NaN,8.1,7.782,Netflix
2,Grease,MOVIE,Australian good girl Sandy and greaser Danny f...,1978,PG,110,"['romance', 'comedy']",['US'],NaN,7.2,7.406,Netflix
3,The Sting,MOVIE,A novice con man teams up with an acknowledged...,1973,PG,129,"['crime', 'drama', 'comedy', 'music']",['US'],NaN,8.3,8.020,Netflix
4,Rocky II,MOVIE,After Rocky goes the distance with champ Apoll...,1979,PG,119,"['drama', 'sport']",['US'],NaN,7.3,7.246,Netflix

In [16]:
#sorting to platform = Netflix
netflix_data_df = merged_df[merged_df['Platform']=='Netflix']
netflix_shows_df = netflix_data_df[netflix_data_df['Type']=='SHOW']
netflix_movies_df = netflix_data_df[netflix_data_df['Type']=='MOVIE']

In [17]:
#Netflix top 20 shows
netflix_top_shows_df = netflix_shows_df.sort_values(by='Imdb Score', ascending = False)

netflix_top_20_shows_df = netflix_top_shows_df.head(20)

custom_index= range(1,21)

netflix_top_20_shows_df.set_index(pd.Index(custom_index), inplace=True)
netflix_top_20_shows_df

,Title,Type,Description,Release Year,Rating,Runtime,Genres,Production Countries,Seasons,Imdb Score,Tmdb Score,Platform
1,#ABtalks,SHOW,#ABtalks is a YouTube interview show hosted by...,2018,TV-PG,78,[],[],1.0,9.6,NaN,Netflix
2,Crazy Delicious,SHOW,Everyday meals are turned into extraordinary c...,2017,NaN,47,['reality'],['GB'],1.0,9.6,7.500,Netflix
3,Breaking Bad,SHOW,"When Walter White, a New Mexico chemistry teac...",2008,TV-MA,48,"['drama', 'comedy', 'crime', 'thriller']",['US'],5.0,9.5,8.868,Netflix
4,Khawatir,SHOW,A TV show devoted to help young people to be m...,2005,TV-14,19,"['reality', 'scifi', 'family']",[],11.0,9.5,NaN,Netflix
5,The Chosen,SHOW,The life of Christ through the eyes of those w...,2019,TV-PG,49,"['drama', 'history']",['US'],3.0,9.3,8.583,Netflix
6,Avatar: The Last Airbender,SHOW,"In a war-torn world of elemental magic, a youn...",2005,TV-Y7,24,"['animation', 'action', 'family', 'fantasy']",['US'],3.0,9.3,8.700,Netflix
7,Our Planet,SHOW,Experience our planet's natural beauty and exa...,2019,TV-G,50,['documentation'],['GB'],1.0,9.3,8.538,Netflix
8,Reply 1988,SHOW,A nostalgic trip back to the late 1980s throug...,2015,TV-14,71,"['comedy', 'drama', 'family', 'romance']",['KR'],1.0,9.2,8.652,Netflix
9,The Last Dance,SHOW,A 10-part documentary chronicling the untold s...,2020,TV-MA,50,"['documentation', 'history', 'sport']",['US'],1.0,9.1,8.202,Netflix
10,Story Time Book: Read-Along,SHOW,Kids can read along with illustrated books tha...,2022,TV-Y,31,['animation'],[],1.0,9.1,NaN,Netflix
11,My Mister,SHOW,"In a world that is less than kind, a young wom...",2018,TV-14,70,"['drama', 'family']",['KR'],1.0,9.1,8.347,Netflix
12,Kota Factory,SHOW,In a city of coaching centers known to train I...,2019,TV-MA,41,"['comedy', 'drama']",['IN'],2.0,9.0,8.100,Netflix
13,Arcane,SHOW,Amid the stark discord of twin cities Piltover...,2021,TV-14,41,"['scifi', 'action', 'drama', 'animation', 'fan...",['US'],1.0,9.0,8.744,Netflix
14,Okupas,SHOW,"During the year 2000, Ricardo, Pollo, Walter a...",2000,TV-MA,40,"['drama', 'crime']",['AR'],1.0,9.0,8.635,Netflix
15,DEATH NOTE,SHOW,Light Yagami is an ace student with great pros...,2006,TV-14,24,"['animation', 'drama', 'fantasy', 'thriller', ...",['JP'],1.0,9.0,8.642,Netflix
16,Hunter x Hunter,SHOW,Twelve-year-old Gon Freecss one day discovers ...,2011,TV-14,23,"['action', 'drama', 'animation', 'comedy', 'fa...",['JP'],1.0,9.0,8.661,Netflix
17,Attack on Titan,SHOW,After his hometown is destroyed and his mother...,2013,TV-MA,23,"['horror', 'animation', 'action', 'drama', 'fa...",['JP'],4.0,9.0,8.600,Netflix
18,Still Game,SHOW,Cult Scottish comedy about the lives of two OA...,2002,TV-MA,29,"['comedy', 'european']",['GB'],9.0,8.9,8.250,Netflix
19,When They See Us,SHOW,Five teens from Harlem become trapped in a nig...,2019,TV-MA,74,"['drama', 'crime', 'history']",['US'],1.0,8.9,8.241,Netflix
20,"Raja, Rasoi Aur Anya Kahaniyaan",SHOW,Explore the history and flavors of regional In...,2014,NaN,29,"['history', 'documentation']",['IN'],4.0,8.9,6.000,Netflix

In [18]:
#Netflix top 20 movies
netflix_top_movies_df = netflix_movies_df.sort_values(by='Imdb Score', ascending = False)

netflix_top_20_movies_df = netflix_top_movies_df.head(20)

netflix_top_20_movies_df.set_index(pd.Index(custom_index), inplace= True)

netflix_top_20_movies_df

,Title,Type,Description,Release Year,Rating,Runtime,Genres,Production Countries,Seasons,Imdb Score,Tmdb Score,Platform
1,The Dark Knight,MOVIE,Batman raises the stakes in his war on crime. ...,2008,PG-13,152,"['drama', 'thriller', 'action', 'crime']","['GB', 'US']",NaN,9.0,8.508,Netflix
2,The Lord of the Rings: The Return of the King,MOVIE,Aragorn is revealed as the heir to the ancient...,2003,PG-13,201,"['fantasy', 'action', 'drama']","['NZ', 'US']",NaN,9.0,8.474,Netflix
3,Split at the Root,MOVIE,When a Guatemalan mother seeking asylum was se...,2022,NaN,96,['documentation'],['US'],NaN,8.9,NaN,Netflix
4,David Attenborough: A Life on Our Planet,MOVIE,The story of life on our planet by the man who...,2020,PG,83,['documentation'],['GB'],NaN,8.9,8.500,Netflix
5,The Lord of the Rings: The Fellowship of the Ring,MOVIE,"Young hobbit Frodo Baggins, after inheriting a...",2001,PG-13,178,"['fantasy', 'action', 'drama']","['NZ', 'US']",NaN,8.8,8.394,Netflix
6,C/o Kancharapalem,MOVIE,From a schoolboyâ€™s crush to a middle-aged bach...,2018,PG,152,['drama'],['IN'],NaN,8.8,7.500,Netflix
7,Nanpakal Nerathu Mayakkam,MOVIE,A group of Malayali travellers were returning ...,2023,NaN,107,"['drama', 'comedy']",['IN'],NaN,8.8,7.200,Netflix
8,Forrest Gump,MOVIE,A man with a low IQ has accomplished great thi...,1994,PG-13,142,"['comedy', 'drama', 'romance']",['US'],NaN,8.8,8.479,Netflix
9,Chhota Bheem Neeli Pahaadi,MOVIE,"The kids are excited, as they have all planned...",2021,G,63,['animation'],[],NaN,8.8,10.000,Netflix
10,The Lord of the Rings: The Two Towers,MOVIE,Frodo and Sam are trekking to Mordor to destro...,2002,PG-13,179,"['action', 'fantasy', 'drama']","['NZ', 'US']",NaN,8.8,8.375,Netflix
11,Bo Burnham: Inside,MOVIE,"Stuck in COVID-19 lockdown, US comedian and mu...",2021,R,88,"['comedy', 'drama', 'music', 'reality']",['US'],NaN,8.7,8.186,Netflix
12,A Lion in the House,MOVIE,Five families struggle with the ups and downs ...,2006,NaN,225,['documentation'],['US'],NaN,8.7,6.500,Netflix
13,Chhota Bheem & Krishna: Pataliputra- City of t...,MOVIE,Krishna needs Bheem's help: The ruined city of...,2009,G,65,['animation'],['IN'],NaN,8.6,10.000,Netflix
14,A Second Chance,MOVIE,"Popoy and Basha have had a wonderful wedding, ...",2018,NaN,130,"['drama', 'family', 'sport', 'documentation']",['PH'],NaN,8.6,7.100,Netflix
15,Merku Thodarchi Malai,MOVIE,Living on the borders of Kerala and Tamil Nadu...,2018,NaN,122,['drama'],['IN'],NaN,8.6,7.400,Netflix
16,In Our Mothers' Gardens,MOVIE,In Our Mothers' Gardens celebrates the strengt...,2021,NaN,84,['documentation'],['US'],NaN,8.6,NaN,Netflix
17,Rubaru Roshni,MOVIE,The movie traces three real-life incidents tha...,2019,NaN,110,['documentation'],['IN'],NaN,8.6,7.700,Netflix
18,Anbe Sivam,MOVIE,Nalla Sivam and Anbarasu meet under different ...,2003,NaN,160,"['comedy', 'drama']",['IN'],NaN,8.6,7.427,Netflix
19,Black Sunshine Baby,MOVIE,Family memories and personal art movingly port...,2023,NaN,85,['documentation'],['IN'],NaN,8.5,2.000,Netflix
20,Springsteen On Broadway,MOVIE,Springsteen on Broadway is a solo acoustic per...,2018,NaN,153,"['documentation', 'music']",['US'],NaN,8.5,8.000,Netflix

In [19]:
#sorting to platform = Amazon Prime
amazon_data_df = merged_df[merged_df['Platform']=='Amazon Prime']
amazon_shows_df = amazon_data_df[amazon_data_df['Type']=='SHOW']
amazon_movies_df = amazon_data_df[amazon_data_df['Type']=='MOVIE']

In [20]:
#Amazon Prime top 20 shows
amazon_top_shows_df = amazon_shows_df.sort_values(by='Imdb Score', ascending = False)

amazon_top_20_shows_df = amazon_top_shows_df.head(20)

custom_index= range(1,21)

amazon_top_20_shows_df.set_index(pd.Index(custom_index), inplace=True)
amazon_top_20_shows_df

,Title,Type,Description,Release Year,Rating,Runtime,Genres,Production Countries,Seasons,Imdb Score,Tmdb Score,Platform
1,Water Helps the Blood Run,SHOW,"Five orphan girls from diverse backgrounds, ca...",2019,NaN,29,"['comedy', 'drama']",['US'],1.0,9.7,NaN,Amazon Prime
2,Life After,SHOW,So what happens to the players when their dail...,2022,NaN,23,['sport'],[],1.0,9.5,NaN,Amazon Prime
3,Jinny's Kitchen,SHOW,"A spin-off of the Youn's Kitchen series, sched...",2023,NaN,97,['reality'],['KR'],1.0,9.4,6.000,Amazon Prime
4,Denis,SHOW,"Denis, or DenisDaily, is a Canadian YouTuber w...",2016,NaN,15,['comedy'],"['US', 'FR']",4.0,9.4,NaN,Amazon Prime
5,The Chosen,SHOW,The life of Christ through the eyes of those w...,2019,TV-PG,49,"['drama', 'history']",['US'],3.0,9.3,8.583,Amazon Prime
6,Subaru Launch Control,SHOW,Go behind closed doors with Subaru Motorsports...,2013,NaN,21,['sport'],['US'],4.0,9.3,NaN,Amazon Prime
7,Reply 1988,SHOW,A nostalgic trip back to the late 1980s throug...,2015,TV-14,71,"['comedy', 'drama', 'family', 'romance']",['KR'],1.0,9.2,8.652,Amazon Prime
8,Intentions,SHOW,Three former law students run an illegal opera...,2021,NaN,24,"['comedy', 'drama']",['US'],1.0,9.2,NaN,Amazon Prime
9,Daisy & the Gumboot Kids,SHOW,Daisy the mouse loves nature. In each episode ...,2021,NaN,6,['family'],['US'],4.0,9.2,NaN,Amazon Prime
10,Rules of Engagement,SHOW,Rules of Engagement is a comedy about the diff...,2007,TV-14,23,"['comedy', 'drama', 'romance', 'thriller']",['US'],7.0,9.2,7.200,Amazon Prime
11,Harmony with A. R. Rahman,SHOW,Harmony with A.R Rahman' is a curated explorat...,2018,TV-G,43,"['documentation', 'music']",['IN'],1.0,9.1,NaN,Amazon Prime
12,Free to Choose,SHOW,Free to Choose is a ten-part television series...,1980,NaN,57,['documentation'],['US'],2.0,9.1,7.800,Amazon Prime
13,"Mr. Monkey, Monkey Mechanic",SHOW,"Mr. Monkey, Monkey Mechanic is the go-to monke...",2017,NaN,5,['animation'],['US'],2.0,9.1,NaN,Amazon Prime
14,I Fell In Love With A Sanki,SHOW,Two introverts fall hopelessly in love with on...,2019,NaN,16,"['family', 'romance', 'comedy', 'drama']",['IN'],1.0,9.1,NaN,Amazon Prime
15,DEATH NOTE,SHOW,Light Yagami is an ace student with great pros...,2006,TV-14,24,"['animation', 'drama', 'fantasy', 'thriller', ...",['JP'],1.0,9.0,8.642,Amazon Prime
16,Brain Candy TV,SHOW,Join Lizzy the Dog and a collection of action-...,2017,TV-Y,6,"['animation', 'family']",[],3.0,9.0,NaN,Amazon Prime
17,CorazÃ³n Contento,SHOW,This series frames 3 Mexican families from dif...,2018,NaN,27,"['comedy', 'drama']",['MX'],1.0,9.0,10.000,Amazon Prime
18,Clarkson's Farm,SHOW,Follow Jeremy Clarkson as he embarks on his la...,2021,TV-PG,46,"['reality', 'documentation', 'comedy']",['GB'],2.0,9.0,8.250,Amazon Prime
19,L.A. Frock Stars,SHOW,Series is a window into the world of high-end ...,2013,TV-PG,32,['reality'],['ZA'],2.0,9.0,NaN,Amazon Prime
20,Hunter x Hunter,SHOW,Twelve-year-old Gon Freecss one day discovers ...,2011,TV-14,23,"['action', 'drama', 'animation', 'comedy', 'fa...",['JP'],1.0,9.0,8.661,Amazon Prime

In [21]:
#Amazon Prime top 20 movies
amazon_top_movies_df = amazon_movies_df.sort_values(by='Imdb Score', ascending = False)

amazon_top_20_movies_df = amazon_top_movies_df.head(20)

amazon_top_20_movies_df.set_index(pd.Index(custom_index), inplace= True)

amazon_top_20_movies_df

,Title,Type,Description,Release Year,Rating,Runtime,Genres,Production Countries,Seasons,Imdb Score,Tmdb Score,Platform
1,Pawankhind,MOVIE,The story of the Maratha Warriors at the battl...,2022,NaN,153,"['history', 'action', 'drama']",['IN'],NaN,9.9,5.200,Amazon Prime
2,Romeo & Juliet,MOVIE,"In Verona, bad blood between the Montague and ...",2013,PG-13,118,"['drama', 'romance', 'european']",['GB'],NaN,9.8,6.800,Amazon Prime
3,COD (Cash On Delivery),MOVIE,COD is a story about a jobless artist who hija...,2021,NaN,130,['drama'],[],NaN,9.8,NaN,Amazon Prime
4,The 1975 'At Their Very Best' Live from Madiso...,MOVIE,In support of their fifth studio album 'Being ...,2022,NaN,124,"['documentation', 'music']",['US'],NaN,9.7,2.000,Amazon Prime
5,Last Resort,MOVIE,Two terminally ill hospice residents conspire ...,2022,R,92,['drama'],['CA'],NaN,9.7,NaN,Amazon Prime
6,Chhote Ustaad-Precaution Is Better Than Cure,MOVIE,"Chhote Ustad-precaution is better than cure, s...",2021,NaN,300,['crime'],[],NaN,9.6,NaN,Amazon Prime
7,Suffer for Good,MOVIE,By teaching the sport he loves an aging boxing...,2020,NaN,70,['documentation'],['US'],NaN,9.6,NaN,Amazon Prime
8,Yakov Smirnoff's Happily Ever Laughter : The N...,MOVIE,Fans who loved the comedy of Russian born ente...,2016,PG,60,['comedy'],['US'],NaN,9.3,NaN,Amazon Prime
9,Jai Bhim,MOVIE,A pregnant woman from a primitive tribal commu...,2021,NaN,164,"['drama', 'thriller', 'crime']",['IN'],NaN,9.3,7.500,Amazon Prime
10,Because We're Done,MOVIE,A married man going thru a mid life crisis bel...,2022,NaN,108,['comedy'],[],NaN,9.3,NaN,Amazon Prime
11,Steven Banks: Home Entertainment Center,MOVIE,"In this brilliant one-man show, the mild-manne...",1989,NaN,60,['comedy'],['US'],NaN,9.2,7.100,Amazon Prime
12,Last Days,MOVIE,A widow struggling to make ends meet is diagno...,2019,NaN,146,['drama'],[],NaN,9.2,NaN,Amazon Prime
13,Alexander Babu: Alex in Wonderland,MOVIE,This is Alexâ€™s first solo standup special. Thi...,2019,NaN,136,['comedy'],['IN'],NaN,9.2,9.700,Amazon Prime
14,Pazhagiya Naatkal,MOVIE,NaN,2021,NaN,127,['drama'],['IN'],NaN,9.2,NaN,Amazon Prime
15,Nuvvante Pichhe,MOVIE,A Bank Employ named Ajay who is good at person...,2021,NaN,102,['romance'],[],NaN,9.1,NaN,Amazon Prime
16,Unity: The Latin Tribute to Michael Jackson,MOVIE,This unique musical tribute to the King of Pop...,2015,NaN,54,['music'],['US'],NaN,9.1,NaN,Amazon Prime
17,Toxification,MOVIE,"Toxification of land, body and mind examines t...",2020,NaN,66,['documentation'],['IN'],NaN,9.1,NaN,Amazon Prime
18,12 Angry Men,MOVIE,The defense and the prosecution have rested an...,1957,NaN,97,"['drama', 'crime']",['US'],NaN,9.0,8.539,Amazon Prime
19,The Friendliest Town,MOVIE,The first black police chief of a small racial...,2019,PG-13,77,['documentation'],['US'],NaN,9.0,NaN,Amazon Prime
20,Siddhi Seere,MOVIE,An old widow decides to steal a rich saree to ...,2019,NaN,135,['drama'],['IN'],NaN,8.9,NaN,Amazon Prime

In [22]:
#sorting to platform = HBO
hbo_data_df = merged_df[merged_df['Platform']=='HBO']
hbo_shows_df = hbo_data_df[hbo_data_df['Type']=='SHOW']
hbo_movies_df = hbo_data_df[hbo_data_df['Type']=='MOVIE']

In [23]:
#HBO top 20 shows
hbo_top_shows_df = hbo_shows_df.sort_values(by='Imdb Score', ascending = False)

hbo_top_20_shows_df = hbo_top_shows_df.head(20)

custom_index= range(1,21)

hbo_top_20_shows_df.set_index(pd.Index(custom_index), inplace=True)
hbo_top_20_shows_df

,Title,Type,Description,Release Year,Rating,Runtime,Genres,Production Countries,Seasons,Imdb Score,Tmdb Score,Platform
1,Chernobyl,SHOW,The true story of one of the worst man-made ca...,2019,TV-MA,65,"['drama', 'thriller', 'history']",['US'],1.0,9.4,8.600,HBO
2,Band of Brothers,SHOW,Drawn from interviews with survivors of Easy C...,2001,TV-MA,59,"['drama', 'war', 'history', 'action']",['US'],1.0,9.4,8.454,HBO
3,The Wire,SHOW,Told from the points of view of both the Balti...,2002,TV-MA,59,"['drama', 'crime', 'thriller']",['US'],5.0,9.3,8.501,HBO
4,The Sopranos,SHOW,The story of New Jersey-based Italian-American...,1999,TV-MA,55,"['drama', 'crime']",['US'],6.0,9.2,8.603,HBO
5,Eyes on the Prize,SHOW,The definitive story of the Civil Rights era f...,1987,TV-PG,57,"['documentation', 'history']",['US'],2.0,9.2,8.500,HBO
6,Game of Thrones,SHOW,Seven noble families fight for control of the ...,2011,TV-MA,58,"['scifi', 'drama', 'action', 'romance', 'fanta...",['US'],8.0,9.2,8.400,HBO
7,The Last of Us,SHOW,Twenty years after modern civilization has bee...,2023,TV-MA,60,"['drama', 'action', 'horror', 'scifi', 'thrill...",['US'],1.0,9.1,8.798,HBO
8,Homegrown,SHOW,Jamila Norman helps families turn their backya...,2021,NaN,24,"['documentation', 'drama']",['US'],3.0,9.1,NaN,HBO
9,Rick and Morty,SHOW,Rick is a mentally-unbalanced but scientifical...,2013,TV-MA,22,"['animation', 'scifi', 'action', 'comedy']",['US'],6.0,9.1,8.729,HBO
10,Batman: The Animated Series,SHOW,The Dark Knight battles crime in Gotham City w...,1992,TV-Y7-FV,22,"['family', 'scifi', 'animation', 'action', 'cr...",['US'],4.0,9.0,8.489,HBO
11,For The Love of Kitchens,SHOW,"Paul O'Leary, Helen Parker and Robin McLellan ...",2021,NaN,42,['reality'],['GB'],2.0,9.0,NaN,HBO
12,Nathan For You,SHOW,"Self-proclaimed business expert, writer, direc...",2013,TV-14,25,"['documentation', 'comedy']",['US'],4.0,8.9,8.100,HBO
13,Kindergarten,SHOW,Series that gets inside the hearts and minds o...,2001,NaN,27,"['documentation', 'animation', 'reality']",['US'],1.0,8.9,8.000,HBO
14,The West Wing,SHOW,The West Wing is an American television serial...,1999,TV-14,45,['drama'],['US'],7.0,8.9,8.292,HBO
15,Friends,SHOW,"Six young people from New York City, on their ...",1994,TV-14,25,"['comedy', 'drama', 'romance']",['US'],10.0,8.9,8.456,HBO
16,Joe Pera Talks With You,SHOW,A teacher in Michigan's Upper Peninsula explor...,2018,TV-14,12,['comedy'],['US'],3.0,8.9,8.400,HBO
17,The World Between Us,SHOW,A ten-part hour-long series that follows the a...,2019,NaN,52,"['drama', 'crime']",['TW'],1.0,8.9,9.022,HBO
18,True Detective,SHOW,An American anthology police detective series ...,2014,TV-MA,60,"['drama', 'crime', 'thriller']",['US'],4.0,8.9,8.289,HBO
19,Last Week Tonight with John Oliver,SHOW,A half-hour satirical look at the week in news...,2014,TV-MA,31,"['comedy', 'reality', 'history']",['US'],10.0,8.9,7.924,HBO
20,Making Modern with Brooke and Brice,SHOW,Plot under wraps.,2021,NaN,24,['documentation'],['US'],1.0,8.9,NaN,HBO

In [24]:
#HBO top 20 movies
hbo_top_movies_df = hbo_movies_df.sort_values(by='Imdb Score', ascending = False)

hbo_top_20_movies_df = hbo_top_movies_df.head(20)

hbo_top_20_movies_df.set_index(pd.Index(custom_index), inplace= True)

hbo_top_20_movies_df

,Title,Type,Description,Release Year,Rating,Runtime,Genres,Production Countries,Seasons,Imdb Score,Tmdb Score,Platform
1,The Shawshank Redemption,MOVIE,Framed in the 1940s for the double murder of h...,1994,R,143,['drama'],['US'],NaN,9.3,8.702,HBO
2,Celebrity Habla,MOVIE,"See what celebrated Latino actors, newsmakers ...",2009,PG,53,['documentation'],['US'],NaN,9.3,NaN,HBO
3,Emergency Contact,MOVIE,Can 30-something Roxanna Biltmore handle the m...,2015,NaN,54,['comedy'],['US'],NaN,9.2,NaN,HBO
4,The Dark Knight,MOVIE,Batman raises the stakes in his war on crime. ...,2008,PG-13,152,"['drama', 'thriller', 'action', 'crime']","['GB', 'US']",NaN,9.0,8.508,HBO
5,Euphoria: Trouble Don't Last Always,MOVIE,After changing her mind to run away with Jules...,2020,R,57,['drama'],['US'],NaN,9.0,10.000,HBO
6,The Lord of the Rings: The Return of the King,MOVIE,Aragorn is revealed as the heir to the ancient...,2003,PG-13,201,"['fantasy', 'action', 'drama']","['NZ', 'US']",NaN,9.0,8.474,HBO
7,Juan Luis Guerra 4.40: Entre Mar y Palmeras,MOVIE,"The renowned Dominican composer, musician, pro...",2021,PG,70,['music'],['DO'],NaN,8.9,8.300,HBO
8,The Lord of the Rings: The Two Towers,MOVIE,Frodo and Sam are trekking to Mordor to destro...,2002,PG-13,179,"['action', 'fantasy', 'drama']","['NZ', 'US']",NaN,8.8,8.375,HBO
9,Celebrity Habla 2,MOVIE,"See what celebrated Latino actors, newsmakers ...",2010,PG,58,['documentation'],['US'],NaN,8.8,NaN,HBO
10,Euphoria: F*ck Anyone Whoâ€™s Not A Sea Blob,MOVIE,"Over the Christmas holiday, Jules reflects on ...",2021,R,55,['drama'],['US'],NaN,8.8,10.000,HBO
11,The Lord of the Rings: The Fellowship of the Ring,MOVIE,"Young hobbit Frodo Baggins, after inheriting a...",2001,PG-13,178,"['fantasy', 'action', 'drama']","['NZ', 'US']",NaN,8.8,8.394,HBO
12,Dave Chappelle: Killin' Them Softly,MOVIE,Dave Chappelle returns for a stand-up to D.C. ...,2000,NaN,58,"['comedy', 'documentation']",['US'],NaN,8.7,8.067,HBO
13,GoodFellas,MOVIE,"The true story of Henry Hill, a half-Irish, ha...",1990,R,145,"['crime', 'drama']",['US'],NaN,8.7,8.465,HBO
14,George Carlin: Jammin' in New York,MOVIE,When George Carlin is asked which HBO concert ...,1992,NaN,59,"['comedy', 'documentation']",['US'],NaN,8.7,7.982,HBO
15,The Matrix,MOVIE,"Set in the 22nd century, The Matrix tells the ...",1999,R,136,"['action', 'scifi']",['US'],NaN,8.7,8.200,HBO
16,One Flew Over the Cuckoo's Nest,MOVIE,A petty criminal fakes insanity to serve his s...,1975,R,133,['drama'],['US'],NaN,8.7,8.423,HBO
17,Beah: A Black Woman Speaks,MOVIE,Beah: A Black Woman Speaks is a 2003 documenta...,2003,NaN,88,['documentation'],['US'],NaN,8.7,NaN,HBO
18,The Music in Me: The Leopards Take Manhattan -...,MOVIE,"Prepare for a fun-filled, emotional journey wi...",2008,NaN,30,['documentation'],['US'],NaN,8.7,NaN,HBO
19,Terminator 2: Judgment Day,MOVIE,Nearly 10 years have passed since Sarah Connor...,1991,R,137,"['scifi', 'action', 'thriller']","['FR', 'US']",NaN,8.6,8.100,HBO
20,The Silence of the Lambs,MOVIE,Clarice Starling is a top student at the FBI's...,1991,R,118,"['drama', 'thriller', 'horror', 'crime']",['US'],NaN,8.6,8.344,HBO

In [36]:
#BINNNING - Netflix
Year_bins = [0,1963,1973,1983,1993,2003,2013, 2018, 2023]
bin_labels=['Before 1964','1964 to 1973','1974 to 1983', '1984 to 1993', '1994 to 2003','2004 to 2013','2014 to 2018', '2019 to 2023']

pd.cut(netflix_data_df['Release Year'], Year_bins, labels = bin_labels)

0        Before 1964
1       1974 to 1983
2       1974 to 1983
3       1964 to 1973
4       1974 to 1983
            ...
6132    2019 to 2023
6133    2019 to 2023
6134    2019 to 2023
6135    2019 to 2023
6136    2019 to 2023
Name: Release Year, Length: 6137, dtype: category
Categories (8, object): ['Before 1964' < '1964 to 1973' < '1974 to 1983' < '1984 to 1993' < '1994 to 2003' < '2004 to 2013' < '2014 to 2018' < '2019 to 2023']

In [37]:
netflix_data_df['Time Period']=pd.cut(netflix_data_df['Release Year'], Year_bins, labels = bin_labels)

netflix_data_df.head()

C:\Users\zmaso\AppData\Local\Temp\ipykernel_18048\928093264.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  netflix_data_df['Time Period']=pd.cut(netflix_data_df['Release Year'], Year_bins, labels = bin_labels)

,Title,Type,Description,Release Year,Rating,Runtime,Genres,Production Countries,Seasons,Imdb Score,Tmdb Score,Platform,Time Period
0,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,Netflix,Before 1964
1,Rocky,MOVIE,"When world heavyweight boxing champion, Apollo...",1976,PG,119,"['drama', 'sport']",['US'],NaN,8.1,7.782,Netflix,1974 to 1983
2,Grease,MOVIE,Australian good girl Sandy and greaser Danny f...,1978,PG,110,"['romance', 'comedy']",['US'],NaN,7.2,7.406,Netflix,1974 to 1983
3,The Sting,MOVIE,A novice con man teams up with an acknowledged...,1973,PG,129,"['crime', 'drama', 'comedy', 'music']",['US'],NaN,8.3,8.020,Netflix,1964 to 1973
4,Rocky II,MOVIE,After Rocky goes the distance with champ Apoll...,1979,PG,119,"['drama', 'sport']",['US'],NaN,7.3,7.246,Netflix,1974 to 1983

In [38]:
time_period_counts_netflix = netflix_data_df['Time Period'].value_counts()
time_period_counts_netflix

Time Period
2019 to 2023    3497
2014 to 2018    1862
2004 to 2013     537
1994 to 2003     136
1984 to 1993      59
1974 to 1983      28
1964 to 1973      11
Before 1964        7
Name: count, dtype: int64

In [39]:
#Binning - Amazon
pd.cut(amazon_data_df['Release Year'], Year_bins, labels = bin_labels)

9167      Before 1964
9168      Before 1964
9169      Before 1964
9170      Before 1964
9171      Before 1964
             ...
20035    2019 to 2023
20036    2019 to 2023
20037    2019 to 2023
20038    2019 to 2023
20039    2019 to 2023
Name: Release Year, Length: 10873, dtype: category
Categories (8, object): ['Before 1964' < '1964 to 1973' < '1974 to 1983' < '1984 to 1993' < '1994 to 2003' < '2004 to 2013' < '2014 to 2018' < '2019 to 2023']

In [40]:
amazon_data_df['Time Period']=pd.cut(amazon_data_df['Release Year'], Year_bins, labels = bin_labels)
amazon_data_df.head()

C:\Users\zmaso\AppData\Local\Temp\ipykernel_18048\1547121503.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amazon_data_df['Time Period']=pd.cut(amazon_data_df['Release Year'], Year_bins, labels = bin_labels)

,Title,Type,Description,Release Year,Rating,Runtime,Genres,Production Countries,Seasons,Imdb Score,Tmdb Score,Platform,Time Period
9167,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,1946,PG,130,"['drama', 'family', 'fantasy', 'romance', 'com...",['US'],NaN,8.6,8.261,Amazon Prime,Before 1964
9168,Duck Soup,MOVIE,Rufus T. Firefly is named president/dictator o...,1933,NaN,69,"['comedy', 'war']",['US'],NaN,7.8,7.357,Amazon Prime,Before 1964
9169,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,"['drama', 'romance', 'comedy']",['US'],NaN,7.8,7.433,Amazon Prime,Before 1964
9170,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,TV-PG,19,"['comedy', 'family']",['US'],26.0,8.5,7.600,Amazon Prime,Before 1964
9171,Red River,MOVIE,Headstrong Thomas Dunson starts a thriving Tex...,1948,NaN,133,"['western', 'drama', 'romance', 'action']",['US'],NaN,7.8,7.400,Amazon Prime,Before 1964

In [41]:
time_period_counts_amazon = amazon_data_df['Time Period'].value_counts()
time_period_counts_amazon

Time Period
2019 to 2023    3477
2014 to 2018    2675
2004 to 2013    1890
Before 1964     1200
1994 to 2003     663
1984 to 1993     434
1964 to 1973     269
1974 to 1983     265
Name: count, dtype: int64

In [43]:
#Binning - HBO
pd.cut(hbo_data_df['Release Year'], Year_bins, labels = bin_labels)

6137     Before 1964
6138     Before 1964
6139     Before 1964
6140     Before 1964
6141     Before 1964
            ...
9162    2019 to 2023
9163    2019 to 2023
9164    2019 to 2023
9165    2019 to 2023
9166    2019 to 2023
Name: Release Year, Length: 3030, dtype: category
Categories (8, object): ['Before 1964' < '1964 to 1973' < '1974 to 1983' < '1984 to 1993' < '1994 to 2003' < '2004 to 2013' < '2014 to 2018' < '2019 to 2023']

In [44]:
hbo_data_df['Time Period']=pd.cut(hbo_data_df['Release Year'], Year_bins, labels = bin_labels)
amazon_data_df.head()

C:\Users\zmaso\AppData\Local\Temp\ipykernel_18048\1745779252.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hbo_data_df['Time Period']=pd.cut(hbo_data_df['Release Year'], Year_bins, labels = bin_labels)

,Title,Type,Description,Release Year,Rating,Runtime,Genres,Production Countries,Seasons,Imdb Score,Tmdb Score,Platform,Time Period
9167,It's a Wonderful Life,MOVIE,A holiday favourite for generations... George...,1946,PG,130,"['drama', 'family', 'fantasy', 'romance', 'com...",['US'],NaN,8.6,8.261,Amazon Prime,Before 1964
9168,Duck Soup,MOVIE,Rufus T. Firefly is named president/dictator o...,1933,NaN,69,"['comedy', 'war']",['US'],NaN,7.8,7.357,Amazon Prime,Before 1964
9169,His Girl Friday,MOVIE,"Hildy, the journalist former wife of newspaper...",1940,NaN,92,"['drama', 'romance', 'comedy']",['US'],NaN,7.8,7.433,Amazon Prime,Before 1964
9170,The Three Stooges,SHOW,The Three Stooges were an American vaudeville ...,1934,TV-PG,19,"['comedy', 'family']",['US'],26.0,8.5,7.600,Amazon Prime,Before 1964
9171,Red River,MOVIE,Headstrong Thomas Dunson starts a thriving Tex...,1948,NaN,133,"['western', 'drama', 'romance', 'action']",['US'],NaN,7.8,7.400,Amazon Prime,Before 1964

In [45]:
time_period_counts_hbo = hbo_data_df['Time Period'].value_counts()
time_period_counts_hbo

Time Period
2019 to 2023    783
2004 to 2013    627
2014 to 2018    493
1994 to 2003    338
Before 1964     296
1984 to 1993    239
1964 to 1973    135
1974 to 1983    119
Name: count, dtype: int64