In [24]:
import pandas as pd

df = pd.read_csv('NetflixData/NetflixData.csv')
df_1=pd.read_csv('HBOData/HBOData.csv')
df_2=pd.read_csv('AmazonPrimeData/APData.csv')

merged_df=pd.concat([df, df_1, df_2], ignore_index=True)


merged_df.head()

,id,title,type,description,release_year,age_certification,runtime,genres,production_countries,seasons,imdb_id,imdb_score,imdb_votes,tmdb_popularity,tmdb_score,Platform
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.601,NaN,Netflix
1,tm82169,Rocky,MOVIE,"When world heavyweight boxing champion, Apollo...",1976,PG,119,"['drama', 'sport']",['US'],NaN,tt0075148,8.1,588100.0,106.361,7.782,Netflix
2,tm17823,Grease,MOVIE,Australian good girl Sandy and greaser Danny f...,1978,PG,110,"['romance', 'comedy']",['US'],NaN,tt0077631,7.2,283316.0,33.160,7.406,Netflix
3,tm191099,The Sting,MOVIE,A novice con man teams up with an acknowledged...,1973,PG,129,"['crime', 'drama', 'comedy', 'music']",['US'],NaN,tt0070735,8.3,266738.0,24.616,8.020,Netflix
4,tm69975,Rocky II,MOVIE,After Rocky goes the distance with champ Apoll...,1979,PG,119,"['drama', 'sport']",['US'],NaN,tt0079817,7.3,216307.0,75.699,7.246,Netflix

In [25]:
new_column_names = {'Age Certification': 'Rating',
                   }
merged_df.columns = merged_df.columns.str.title().str.replace('_', ' ')

merged_df.rename(columns=new_column_names, inplace=True)

merged_df.head()

,Id,Title,Type,Description,Release Year,Rating,Runtime,Genres,Production Countries,Seasons,Imdb Id,Imdb Score,Imdb Votes,Tmdb Popularity,Tmdb Score,Platform
0,ts300399,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,NaN,0.601,NaN,Netflix
1,tm82169,Rocky,MOVIE,"When world heavyweight boxing champion, Apollo...",1976,PG,119,"['drama', 'sport']",['US'],NaN,tt0075148,8.1,588100.0,106.361,7.782,Netflix
2,tm17823,Grease,MOVIE,Australian good girl Sandy and greaser Danny f...,1978,PG,110,"['romance', 'comedy']",['US'],NaN,tt0077631,7.2,283316.0,33.160,7.406,Netflix
3,tm191099,The Sting,MOVIE,A novice con man teams up with an acknowledged...,1973,PG,129,"['crime', 'drama', 'comedy', 'music']",['US'],NaN,tt0070735,8.3,266738.0,24.616,8.020,Netflix
4,tm69975,Rocky II,MOVIE,After Rocky goes the distance with champ Apoll...,1979,PG,119,"['drama', 'sport']",['US'],NaN,tt0079817,7.3,216307.0,75.699,7.246,Netflix

In [26]:
columns_deleted = ['Id', 'Imdb Votes', 'Imdb Id', 'Tmdb Popularity']

merged_df.drop(columns = columns_deleted, inplace= True)

merged_df.head()

,Title,Type,Description,Release Year,Rating,Runtime,Genres,Production Countries,Seasons,Imdb Score,Tmdb Score,Platform
0,Five Came Back: The Reference Films,SHOW,This collection includes 12 World War II-era p...,1945,TV-MA,51,['documentation'],['US'],1.0,NaN,NaN,Netflix
1,Rocky,MOVIE,"When world heavyweight boxing champion, Apollo...",1976,PG,119,"['drama', 'sport']",['US'],NaN,8.1,7.782,Netflix
2,Grease,MOVIE,Australian good girl Sandy and greaser Danny f...,1978,PG,110,"['romance', 'comedy']",['US'],NaN,7.2,7.406,Netflix
3,The Sting,MOVIE,A novice con man teams up with an acknowledged...,1973,PG,129,"['crime', 'drama', 'comedy', 'music']",['US'],NaN,8.3,8.020,Netflix
4,Rocky II,MOVIE,After Rocky goes the distance with champ Apoll...,1979,PG,119,"['drama', 'sport']",['US'],NaN,7.3,7.246,Netflix

In [32]:
netflix_data_df = merged_df[merged_df['Platform']=='Netflix']
netflix_shows_df= netflix_data_df[netflix_data_df['Type']=='SHOW']
netflix_movies_df = netflix_data_df[netflix_data_df['Type']=='MOVIE']

In [42]:
netflix_top_shows_df=netflix_shows_df.sort_values(by='Imdb Score', ascending = False)


netflix_top_20_shows_df=netflix_top_shows_df.head(20)

custom_index= range(1,21)

netflix_top_20_shows_df.set_index(pd.Index(custom_index), inplace=True)

In [43]:
netflix_top_movies_df=netflix_movies_df.sort_values(by='Imdb Score', ascending = False)

netflix_top_20_movies_df=netflix_top_movies_df.head(20)

netflix_top_20_movies_df.set_index(pd.Index(custom_index), inplace= True)

netflix_top_20_movies_df

,Title,Type,Description,Release Year,Rating,Runtime,Genres,Production Countries,Seasons,Imdb Score,Tmdb Score,Platform
1,The Dark Knight,MOVIE,Batman raises the stakes in his war on crime. ...,2008,PG-13,152,"['drama', 'thriller', 'action', 'crime']","['GB', 'US']",NaN,9.0,8.508,Netflix
2,The Lord of the Rings: The Return of the King,MOVIE,Aragorn is revealed as the heir to the ancient...,2003,PG-13,201,"['fantasy', 'action', 'drama']","['NZ', 'US']",NaN,9.0,8.474,Netflix
3,Split at the Root,MOVIE,When a Guatemalan mother seeking asylum was se...,2022,NaN,96,['documentation'],['US'],NaN,8.9,NaN,Netflix
4,David Attenborough: A Life on Our Planet,MOVIE,The story of life on our planet by the man who...,2020,PG,83,['documentation'],['GB'],NaN,8.9,8.500,Netflix
5,The Lord of the Rings: The Fellowship of the Ring,MOVIE,"Young hobbit Frodo Baggins, after inheriting a...",2001,PG-13,178,"['fantasy', 'action', 'drama']","['NZ', 'US']",NaN,8.8,8.394,Netflix
6,C/o Kancharapalem,MOVIE,From a schoolboy’s crush to a middle-aged bach...,2018,PG,152,['drama'],['IN'],NaN,8.8,7.500,Netflix
7,Nanpakal Nerathu Mayakkam,MOVIE,A group of Malayali travellers were returning ...,2023,NaN,107,"['drama', 'comedy']",['IN'],NaN,8.8,7.200,Netflix
8,Forrest Gump,MOVIE,A man with a low IQ has accomplished great thi...,1994,PG-13,142,"['comedy', 'drama', 'romance']",['US'],NaN,8.8,8.479,Netflix
9,Chhota Bheem Neeli Pahaadi,MOVIE,"The kids are excited, as they have all planned...",2021,G,63,['animation'],[],NaN,8.8,10.000,Netflix
10,The Lord of the Rings: The Two Towers,MOVIE,Frodo and Sam are trekking to Mordor to destro...,2002,PG-13,179,"['action', 'fantasy', 'drama']","['NZ', 'US']",NaN,8.8,8.375,Netflix
11,Bo Burnham: Inside,MOVIE,"Stuck in COVID-19 lockdown, US comedian and mu...",2021,R,88,"['comedy', 'drama', 'music', 'reality']",['US'],NaN,8.7,8.186,Netflix
12,A Lion in the House,MOVIE,Five families struggle with the ups and downs ...,2006,NaN,225,['documentation'],['US'],NaN,8.7,6.500,Netflix
13,Chhota Bheem & Krishna: Pataliputra- City of t...,MOVIE,Krishna needs Bheem's help: The ruined city of...,2009,G,65,['animation'],['IN'],NaN,8.6,10.000,Netflix
14,A Second Chance,MOVIE,"Popoy and Basha have had a wonderful wedding, ...",2018,NaN,130,"['drama', 'family', 'sport', 'documentation']",['PH'],NaN,8.6,7.100,Netflix
15,Merku Thodarchi Malai,MOVIE,Living on the borders of Kerala and Tamil Nadu...,2018,NaN,122,['drama'],['IN'],NaN,8.6,7.400,Netflix
16,In Our Mothers' Gardens,MOVIE,In Our Mothers' Gardens celebrates the strengt...,2021,NaN,84,['documentation'],['US'],NaN,8.6,NaN,Netflix
17,Rubaru Roshni,MOVIE,The movie traces three real-life incidents tha...,2019,NaN,110,['documentation'],['IN'],NaN,8.6,7.700,Netflix
18,Anbe Sivam,MOVIE,Nalla Sivam and Anbarasu meet under different ...,2003,NaN,160,"['comedy', 'drama']",['IN'],NaN,8.6,7.427,Netflix
19,Black Sunshine Baby,MOVIE,Family memories and personal art movingly port...,2023,NaN,85,['documentation'],['IN'],NaN,8.5,2.000,Netflix
20,Springsteen On Broadway,MOVIE,Springsteen on Broadway is a solo acoustic per...,2018,NaN,153,"['documentation', 'music']",['US'],NaN,8.5,8.000,Netflix